<div class="main-page">
  <div class="title">
    <h1>Learn Git and Github without any code!</h1>
    <h3>Using the Hello World guide, you'll create a repository, start a branch, write comments,
    and open a pull request</h3>
  </div><br>
  <div class="main-page-content">
      <% if current_user %>
      Welcome, <%= current_user.username %><br>
      <%= link_to "Profile", "/users/#{current_user.username}" %>
      <%= link_to "Repositories", "user/repos" %>
      <%= link_to "Organizations", "/user/orgs" %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login with Github", github_login_path %>
    <% end %>
</div>
</div>
